.chat-container {
    width: 100%;
    background: #534C4C;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    color: #22EAAA;
}

.welcome-div {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.conversation-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.roomInfoH3{
    color: #fff

}

.userMessage{
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.message-div {
   width: 90%;
}

.chat-message {
    width: 100%;
    background: rgba(255, 255, 255, .4);
    border-radius: 2rem;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
}

.leaveBtn{
    background-color: #22EAAA;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: .4rem;
    outline: none;
    transition-duration: 0.4s;
    width: 10rem;
    font-size: 1.4rem;
    border: none;
    font-weight: bold;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
} 
.leaveBtn:hover{
    background-color: #fff;
    color: #22EAAA;
    border: 3px solid #22EAAA;
}

.complete-message h3 {
    margin-left: 1rem;
    color: white;
}

.complete-message span {
    color: #22EAAA;
}

.chat-message p {
    color: white;
    margin-left: 0;
    font-size: 1.5rem;
}

span {
    margin-left: 1rem;
}

.input-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.inputMessage {
    width: 85%;
    height: 6rem;
    border-radius: 1rem;
    border: 2px solid #22EAAA;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    outline: none;
    margin: 0rem .5rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.sendBtn {
    padding: 1rem;
    border-radius: 1rem;
    background: #22EAAA;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.sendBtn:hover{
    background-color: #fff;
    color: #22EAAA;
}