.current-rooms {
    width: 20%;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    color: #22EAAA;
    padding: 1rem;
}

.room-info-container {
    margin-bottom: 5rem;
}

.current-rooms ul {
   padding: 0; 
}

.title {
    margin: 1rem
}

.sub-title {
    color: #fff;
    font-weight: normal;
}

@media screen and (max-width: 630px) {
    .current-rooms {
        width: 100%;
        min-height: 35vh;
        justify-content: center;
    }
}